@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "NortuneBlack";
  src: url("/fonts/Nortune-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Avgardn;
  src: url("/fonts/AVGARDN_2.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Avgardd;
  src: url("/fonts/AVGARDD_2.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Avgarddo;
  src: url("/fonts/AVGARDDO_2.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: KinetikaLight;
  src: url("/fonts/KinetikaLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: KinetikaUltra;
  src: url("/fonts/KinetikaUltra.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Set up color variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --font-sans: 'NortuneBlack', 'Inter', sans-serif; */
  --font-sans: "Inter", sans-serif;
}

/* Font-face for Nortune-Black */

/* Theme variables */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", sans-serif;
  --font-mono: var(--font-geist-mono); /* if defined elsewhere */
}

/* Dark mode override */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
